name: CI - Build & Push (multi-arch)

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

env:
  OWNER: zamasulolmeme123
  IMAGE_REPO: task-url-platform
  TAG: sha-${{ github.sha }}

jobs:
  build_push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push API
        uses: docker/build-push-action@v6
        with:
          context: ./api
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ env.OWNER }}/${{ env.IMAGE_REPO }}/api:${{ env.TAG }}

      - name: Build & push Worker
        uses: docker/build-push-action@v6
        with:
          context: ./worker
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ env.OWNER }}/${{ env.IMAGE_REPO }}/worker:${{ env.TAG }}
